* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: blanchedalmond;
}

.container {
  height: 100vh;
}

.a, .b, .c {
  border: 1px solid black;
  background-color: rgb(173, 173, 173);
}

.a {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  height: 20%;
  margin-bottom: 20px;
}

.b {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  height: 80%;
  margin-bottom: 20px;
}

.c {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  height: 20%;
  margin-bottom: 30px;
}

h1 {
  color: black;
  font-size: 80px;
  font-weight: 600;
  text-align: center;
  padding-top: 40px;
}

@media (min-width: 600px) {
  .a {
    height: 30%;
  }

  .b {
    display: inline-block;
    width: 67.5%;
    margin: auto;
    height: 60%;
    padding-top: 20%;
    margin-left: 5%;
  }
  .c {
    display: inline-block;
    width: 20%;
    margin: auto;
    height: 60%;
    padding-top: 20%;
    margin-left: 2%;
  }
}